.post-search {
  display: flex;
  flex-direction: column;
  justify-content: center;

  align-items: center;
  margin-bottom: 5rem;
  height: 75%;
  margin-bottom: 5rem;
}

.bienvenida :first-child {
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: rgba(77, 228, 77, 0.733) 4px 2px 3px;
  padding-bottom: 10px;
}

.bienvenida {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 68vh;
}

.empezar {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 60px;
  padding-right: 60px;
  text-decoration: black;
  margin-top: 20px;
  margin-bottom: 80px;
  border-width: 3px;
  background-color: #9affaf;
  border-style: solid;
  border-color: whitesmoke;
  border-radius: 25px;
  text-transform: uppercase;

  font-weight: bold;
  box-shadow: rgba(141, 139, 139, 0.699) 4px 4px 10px;
}

.post-search {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.post-search form {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}

.post-search input[type='text'] {
  width: 100%;
  max-width: 400px;
  height: 2rem;
  border-radius: 0.25rem;
  margin-right: 2rem;
  font-size: 1rem;
  margin-left: 2rem;
  margin-top: 20px;
}

.post-search button {
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 60px;
  padding-right: 60px;
  border-width: 3px;
  background-color: #9affaf;
  border-style: solid;
  border-color: whitesmoke;
  border-radius: 25px;
  text-transform: uppercase;

  font-weight: bold;
  box-shadow: rgba(141, 139, 139, 0.699) 4px 4px 10px;
  cursor: pointer;
  margin-top: 5px;
}

.post-search button:disabled {
  background-color: #95a5a6;
  cursor: not-allowed;
}

.post-search button:hover:not(:disabled) {
  background-color: #65a5e6;
}
